<template>
	<div>
		<v-container grid-list-lg>
			<v-layout row wrap justify-center>
				<v-flex lg4>
					<v-layout row>
						<v-text-field
							color="orange"
							label="Поиск видео..." v-model="searchInput"
							@keyup.enter="movies"
						>
							<v-icon>fa-search</v-icon>
						</v-text-field>
						<v-btn @click="movies" class="mt-3"><v-icon medium>fa-search</v-icon></v-btn>
					</v-layout>
				</v-flex>
			</v-layout>
			<v-layout v-if="!loading" row wrap>
				<app-video v-for="(video,index) of getVideos" :video="video" :key="index"></app-video>
			</v-layout>
			<v-layout v-else row>
				<v-flex xs12 text-xs-center pt-5>
					<v-progress-circular
						:size="100"
						:width="5"
						color="orange"
						indeterminate
					></v-progress-circular>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
import AppVideo from './Video'
import {mapGetters} from 'vuex' 

export default {
	name: 'Home',
	components: {
		AppVideo
	},
	data() {
		return {
			searchInput: '',
		}
	},
	computed: {
		...mapGetters([
			'getVideos',
			'loading',
			'user'
		])
	},
	methods: {
		movies() {
			const search = this.searchInput
			if(search !== '')
				this.$store.dispatch('videos', {search})
		}
	},
	created() {
		this.$store.dispatch('updateVideos')
	}
}
</script>
