<template>
<div>
	<v-container grid-list-lg v-if="!loading" class="mt-3">
		<transition-group name="list" tag="v-layout" row wrap v-if="videos.length">
			<app-video v-for="(video,index) of videos" :video="video" :key="index"></app-video>
		</transition-group>
		<v-layout v-else>
			У вас нет видео
		</v-layout>
	</v-container>
	<div class="relative" v-else>
		<v-progress-circular
			:size="100"
			:width="5"
			color="orange"
			indeterminate
			class="center"
		></v-progress-circular>
	</div>
</div>
</template>

<script>
import AppVideo from './Video'
import {mapGetters} from 'vuex'

export default {
	name: "MyVideos",
	components: {
		AppVideo
	},
	computed: {
		...mapGetters([
			'user', 'loading'
		]),
		videos() {	
			if(this.user) {
				return this.$store.getters.getMyVideos(this.user.id)
			}
		}
	},
	created() {
		this.$store.commit('setLoading', true)
		this.$store.dispatch('updateVideos')
		.then(() => {
			this.$store.commit('setLoading', false)
		})
	}
}
</script>

<style lang="stylus" scoped>
.relative 
	position relative
	height 100vh

.center 
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)

.list-enter-active, .list-leave-active 
	transform scale(1)
	transition transform .5s

.list-enter, .list-leave-to
	transform scale(0)

.list-move 
	transition transform .5s
</style>
