<template>
	<v-container fluid fill-height>
		<v-layout align-center justify-center>
			<v-flex xs12 sm8 md6>
				<v-card class="elevation-12">
					<v-toolbar dark color="orange">
						<v-toolbar-title>Registration form</v-toolbar-title>
					</v-toolbar>
					<v-card-text>
						<v-form ref="form" v-model="valid" validation>
							<v-text-field prepend-icon="person" name="name" 
							label="Имя" type="text" color="orange"
							v-model="name" :rules="nameRules"></v-text-field>
							<v-text-field prepend-icon="person" name="email" 
							label="Почта" type="email" color="orange"
							v-model="email" :rules="emailRules"></v-text-field>
							<v-text-field prepend-icon="lock" :counter="6"
							name="password" label="Пароль" color="orange"
							type="password" v-model="password"
							:rules="passwordRules"></v-text-field>
							<v-text-field prepend-icon="lock" :counter="6" color="orange"
							name="confirm-password" label="Подтверждение пароля" 
							type="password" v-model="confirmPassword"
							:rules="confirmPasswordRules" @keyup.enter="onSubmit"></v-text-field>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="orange" @click="onSubmit" 
						:loading="loading" :disabled="!valid || loading">Создать аккаунт</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data () {
		return {
			name: '',
			email: '',
			password: '',
			valid: false,
			confirmPassword: '',
			nameRules: [
				v => !!v || 'Name is required'
			],
			emailRules: [
				v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
			],
			passwordRules: [
				v => !!v || 'Password is required',
        v => (v && v.length >= 6) || 'Password must be equal or more than 6 characters'
			],
			confirmPasswordRules: [
				v => !!v || 'Password is required',
				v => v === this.password || 'Password should match!'
			]
		}
	},
	computed: {
		loading () {
			return this.$store.getters.loading
		}
	},
	methods:{
		onSubmit () {
			if (this.$refs.form.validate()) {
				const user = {
					email: this.email,
					password: this.password
				}
				this.$store.dispatch('registerUser', user)
					.then(() => {
						this.$router.push('/')
					})
					.catch(() => {})
			}
		}
	}
}
</script>
