<template>
	<div>
		<v-container v-if="!loading">
		<v-layout row justify-center>
			<v-flex xs12 sm8 class="mt-3">
				<v-card>
					<v-card-media height="400px">
						<iframe :src="getMyVideo.url" width="100%" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
					</v-card-media>
					<v-card-title primary-title>
						<div>
							<h3 class="headline mb-0">{{getMyVideo.title}}</h3>
							<div>{{getMyVideo.date}}</div>
						</div>
					</v-card-title>
					<v-card-actions>
						<v-btn flat icon color="success"><v-icon>check</v-icon></v-btn>
						<v-spacer></v-spacer>
						<v-btn icon flat color="orange" @click="show = !show">
            	<v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          	</v-btn>
					</v-card-actions>
					<v-slide-y-transition>
						<v-card-text v-show="show">{{getMyVideo.description}}</v-card-text>
      		</v-slide-y-transition>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
	<div class="relative" v-else>
		<v-progress-circular
			:size="100"
			:width="5"
			color="orange"
			indeterminate
			class="center"
		></v-progress-circular>
	</div>
	</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
	props: ['id'],
	data() {
		return {
			show: false
		}
	},
	computed: {
		...mapGetters([
			'user', 'loading'
		]),
		getMyVideo() {
			const id = this.id
			return this.$store.getters.getMyVideo(id)
		},
		isAdded() {
			let videos
			if(this.user) {
				videos = this.$store.getters.getMyVideos(this.user.id)
			}
			return videos.find(video => video.id === this.id)

		}
	},
	methods: {
		addToMyVideos() {
			this.$store.dispatch('addToVideos', this.getMyVideo)
		}
	},
	created() {
		this.$store.commit('setLoading', true)
		this.$store.dispatch('updateVideos')
		.then(() => {
			this.$store.commit('setLoading', false)
		})
	}
}
</script>

<style lang="stylus" scoped>
.relative 
	position relative
	height 100vh
.center 
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)
</style>
