<template>
	<v-flex xs12 sm6 lg4>
		<v-card>
			<v-card-media height="250px">
				<iframe width="100%" :src="video.url" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
			</v-card-media>
			<transition name="scale" mode="out-in">
				<v-card-title primary-title style="height: 60px; padding:8px;" v-if="isAdded" key="remove">
					<v-layout row align-center justify-space-between>
						<v-flex xs10>
							<router-link :to="'/video/' + video.id">
							<h3 class="mb-0">{{video.title}}</h3>
						</router-link>
						</v-flex>
						<v-flex xs2>
							<v-btn flat icon color="red" @click.prevent="removeFromMyVideos"><v-icon>remove</v-icon></v-btn>
						</v-flex>
					</v-layout>
				</v-card-title>
				<v-card-actions style="height: 60px;" v-else key="add">
					<v-layout row justify-center>
						<v-btn flat color="orange" large @click.prevent="addToMyVideos">
							<v-icon>add</v-icon>
						</v-btn>
					</v-layout>
				</v-card-actions>
			</transition>
		</v-card>
	</v-flex>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
	name: 'Video',
	props: ['video'],
	data() {
		return {
			
		}
	},
	computed: {
		...mapGetters([
			'user', 'loading', 'getVideos'
		]),
		isAdded() {
			let videos
			if(this.user) {
				videos = this.$store.getters.getMyVideos(this.user.id)
			}
			return videos.find(video => video.id === this.video.id)

		}
	},
	methods: {
		addToMyVideos() {
			this.$store.dispatch('addToVideos', this.video)
		},
		removeFromMyVideos() {
			this.$store.dispatch('removeFromMyVideos', this.video)
		}
	}
}
</script>

<style lang="stylus" scoped>
a 
	text-decoration none
	color grey

h3 
	font-size 16px
	line-height 1
	color orange
.layout 
	height 100%

.scale-enter-active, .scale-leave-active 
	transform scale(1)
	transition all .3s ease-out

.scale-enter, .scale-leave-to
	transform scale(0)
</style>
