<template>
	<v-app dark>
		<v-navigation-drawer
      v-model="drawer"
      app
			fixed
			temporary
			right
    >
      <v-list>
				<v-list-tile v-for="link of links" :key="link.title" :to="link.url" class="orange lighten-1">
					<v-list-tile-action>
						<v-icon>{{link.icon}}</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title v-text="link.title"></v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile v-if="isUserLogged" @click="onLogout">
					<v-list-tile-action>
						<v-icon>exit_to_app</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title v-text="'Выход'"></v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
    </v-navigation-drawer>
		<v-toolbar fixed height="60px">
			<v-toolbar-items><v-btn flat to="/" color="orange">Video application</v-btn></v-toolbar-items> 
				<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat v-for="link of links" :key="link.title" :to="link.url" color="orange">
					<v-icon left>{{link.icon}}</v-icon>
					{{link.title}}
				</v-btn>
				<v-btn v-if="isUserLogged" flat  color="orange" @click="onLogout">
					<v-icon left>exit_to_app</v-icon>
					{{user.email}}
				</v-btn>
			</v-toolbar-items>
			<v-toolbar-side-icon class="hidden-md-and-up" flat color="orange" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
		</v-toolbar>
		<v-content class="mt-5">
			<router-view></router-view>
		</v-content>
		<v-footer
    dark
    height="auto"
  >
    <v-card
      flat
      tile
      class="indigo lighten-1 white--text text-xs-center"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3 white--text"
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0">
        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        &copy;2018 — <strong>Vuetify</strong>
      </v-card-text>
    </v-card>
  </v-footer>
		<template v-if="error">
			<v-snackbar
				color="error"
				:multi-line="true"
				:timeout="5000"
				@input="closeError"
				:value="true">
				{{error}}
				<v-btn
					color="pink"
					flat
					@click="closeError"
				>
					Close
				</v-btn>
			</v-snackbar>
		</template>
	</v-app>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
			drawer: false,
			icons: [
        'fa-facebook',
        'fa-twitter',
        'fa-google-plus',
        'fa-linkedin',
        'fa-instagram'
      ]
    }
  },
	name: 'App',
	computed: {
		...mapGetters([
			'error', 'loading', 'isUserLogged', 'user'
		]),
		links () {
			if(this.isUserLogged) {
				return [
					{title: 'Мои видео', icon: 'videocam', url: '/myVideos'}
				]
			}
			return [
				{title: 'Вход', icon: 'lock', url: '/login'},
				{title: 'Регистрация', icon: 'face', url: '/registration'}
			]
		}
	},
	methods: {
		closeError() {
			this.$store.dispatch('clearError')
		},
		onLogout() {
			this.$store.dispatch('logoutUser')
			.then(() => {
				this.$router.push('/')
				location.reload()
			})
			.catch(() => {})
		}
	} 
}
</script>

<style lang="stylus" scoped>

</style>
